html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  flex: 1;  
  display: flex;
  flex-direction: column;
}


.boxes {
  display: flex;
  gap: 1rem;
  margin: 20px;
}

.boxes div {
  width: 150px;
  height: 150px;
  background-color: rgb(0, 166, 255);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.boxes div:hover {
  background-color: rgb(57, 83, 170);
  transform: scale(1.05);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1030; /* make sure it's above other content */
  background-color: #fff; 
  border-top: 1px solid #dee2e6; 
}

.Random{
margin-left: 20px;
}



.quizform{
  display: flex;
  /* flex-wrap: wrap; */
  gap: 10px;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows:fr 0.5fr;
}
.container1{
  background-color: blue;
  height: 70vh;
}

.container2{  
  background-color: aquamarine;
  height: 50vh;

}

.TriviaButtons{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  flex-wrap: wrap;
  width: 700px;
}
.TriviaButtons button {
  border-radius: 25px;
  background-color: #87CEEB; /* sky blue */
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.TriviaButtons button:hover {
  background-color: #00BFFF; /* deeper sky blue */
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 191, 255, 0.3);
}

